$color-gray: #3d3d3d;
$color-red: #FF171F;
$color-burgundy: #710e0e;
$color-white: #ffffff;
$color-green: #07a900;

$color-background: #505154;
$color-gradient-gray: linear-gradient(180deg, #29292b 0%, #353538 21.77%, #3d3d3d 100%);
